section {
    background-color: #dfdfdf;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

h2 {
    color: #333;
}

.moto-user-avatar {
    max-width: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.moto-user-info {
    max-width: 500px;
}