.moto-detail-container {
    max-width: 800px;
    margin: 0 auto;
}

.moto-detail {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.moto-detail img {
    max-width: 100%;
    height: 70%;
    border-radius: 8px;
}