.moto_card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    margin-right: 20px;
    box-sizing: border-box;
}

.moto_card h2 a {
    color: #292929;
    text-decoration: none; /* Если вы не хотите подчеркивания для ссылок */
}

.moto_card h2 a:hover {
    text-decoration: underline; /* Если вы хотите добавить подчеркивание при наведении */
}

.moto_card p {
    color: #555;
    margin: 8px 0;
}

.moto_card img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.moto_cards_container {
    background-color: #dfdfdf;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.moto_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu {
    position: relative;
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.menu a:hover {
    color: #808080;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}

.logo {
    margin-right: 20px;
}

.menu .logo img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-button {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-left: 20px;
    position: relative;
}

.auth-button:not(:last-child)::after {
    content: '|';
    position: absolute;
    right: -17px;
    color: #fff;
}
.auth-button:hover {
    color: #45a049;
}

.search-input {
    display: inline-block;
    width: calc(90% - 20px);
    margin-right: 20px;
    margin-top: 10px;
}

.search-form {
    max-width: 60%;
    margin: 10px auto;
    text-align: center;
    position: relative;
}

.search-form input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.search-form:before  {
    content: "Найди свою мечту!";
    position: absolute;
    top: 19%;
    left: 40%;
    font-size: 16px;
    opacity: 0.5;
    pointer-events: none;
    color: #555;
}

.search-button {
    background-color: #808080;
    color: #ffffff;
    padding: 15px 15px;
    border: left;
    border-radius: 10px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #45a049;
}

.filter-input {
    width: 100%;
    margin-top: 20px;

}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.step-links a {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 4px;
    border-radius: 4px;
}

.current {
    color: #fff;
    background-color: #808080;
    padding: 8px 16px;
    border: 1px solid #808080;
    margin: 0 4px;
    border-radius: 4px;
}

.main-to-cart-form {
    margin-top: 20px;
}

.main-to-cart-form label {
    display: block;
    margin-bottom: 8px;
}

.main-to-cart-form input {
    padding: 8px;
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 12px;
}

.main-to-cart-form button {
    background-color: #808080;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.main-to-cart-form button:hover {
    background-color: #45a049;
}

.menu .cart-icon {
    position: absolute; /* Положение элемента абсолютное */
    top: 15px; /* Расположим элемент вверху блока с отступом 10px */
    right: 20px; /* Расположим элемент справа в блоке с отступом 10px */
}

.cart-icon a {
    display: flex; /* Использование flexbox для выравнивания содержимого по центру */
    align-items: center; /* Выравнивание содержимого по вертикали */
}

.cart-icon img {
    max-width: 60px; /* Увеличение максимальной ширины изображения */
    height: auto; /* Автоматическое определение высоты */
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
