{% extends 'motorcycles/base.html' %}
{% load static %}
{% block content %}
<div class="about-container">
    <h1 class="about-header">Привет! Меня зовут Молодцов Андрей.</h1>

    <div class="content-wrapper">
        <div class="main-content">
            <p class="about-text">Я уже два года занимаюсь программированием. В течение этого времени я углубляюсь в изучение python и сопутствующих ему технологий.</p>

            <p class="about-text">Данный проект был сделан для наглядного примера, что я действительно что-то понимаю в своем ремесле и имею опыт и знания, для того, чтобы улучшать работу разнообразных проектов.</p>

            <p class="about-text">Один из моих значимых опытов - участие в разработке реального проекта Time-keeper.ru. Это был важная ступень развития, где я приобрел ценные навыки в области веб-разработки.</p>

            <p class="about-text">Я самоучка. Мое стремление к знаниям и умению решать сложные задачи помогли мне освоить множество новых концепций и технологий.</p>

            <p class="about-text">В данный момент я активно ищу работу в области программирования. Я готов принять новые вызовы и внести свой вклад в развитие проектов.</p>

            <p class="about-text">Даже если ты не собираешься звать меня на собеседование, я бы хотел услышать твое мнение о том, как я мог бы улучшить проект. Я всегда открыт к обратной связи и готов к саморазвитию.</p>
        </div>

        <img src="{% static 'motorcycles/images/portrait.jpeg' %}" alt="Портрет" class="about-portrait portrait">
    </div>

    <div class="additional-content">
        <p>Если ты в процессе изучения наткнулся на мысль 'А какой любимый мотоцикл у этого парня?' - то вот твой ответ:</p>
        <img src="{% static 'motorcycles/images/R3.jpeg' %}" alt="Мотоцикл" class="about-motorcycle">
    </div>
</div>
{% endblock %}
