{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'motorcycles/css/main_page_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'moto_user/css/profile_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'motorcycles/css/detail_page_styles.css' %}">
    <title>Moto seller</title>
</head>
<body>
{% block header %}

<div class="menu">
    <div class="logo">
        <img src="{% static 'motorcycles/images/Logo.jpg' %}" alt="Здесь должно быть лого">
    </div>
    <ul>
        <li><a href="{% url 'show_main' %}">Мотоциклы</a></li>
        <li><a href="{% url 'show_about' %}">О нас</a></li>
        <li><a href="{% url 'show_contact' %}">Контакты</a></li>

    </ul>
    {% if user.is_authenticated %}
        <div class="auth-buttons">
            <a href="{% url 'moto_user:profile' user.pk %}" class="auth-button">Профиль</a>
            <a href="{% url 'moto_user:logout' %}" class="auth-button">Выход</a>
        </div>
    {% else %}
        <div class="auth-buttons">
            <a href="{% url 'moto_user:register' %}" class="auth-button">Регистрация</a>
            <a href="{% url 'moto_user:login' %}" class="auth-button">Вход</a>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block content %}
{% endblock %}
</body>
</html>