{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'motorcycles/css/main_page_styles.css' %}">
    <title>Moto seller</title>
</head>
<body>
{% block header %}

<div class="menu">
    <div class="logo">
        <img src="{% static 'motorcycles/images/Logo.jpg' %}" alt="Здесь должно быть лого">
    </div>
    <ul>
        <li><a href="{% url 'show_about' %}">О нас</a></li>
        <li><a href="{% url 'show_contact' %}">Контакты</a></li>
        <li><a href="{% url 'show_main' %}">Мотоциклы</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
{% endblock %}
</body>
</html>