{% extends 'motorcycles/base.html' %}

{% block content %}
<div class="contact-container">
    <h1 class="contact-header">Контакты</h1>

    <div class="contact-info">
        <p><strong>Номер телефона/WhatsApp:</strong> +7 (963) 756-05-31</p>
        <p><strong>Telegram:</strong> @Fenrir_Kalekovich</p>
        <p><strong>Mail:</strong> molodtsov_a_p@mail.ru</p>
    </div>
    <strong>
        <p>Пожалуйста, не звони мне на телефон, я НЕ беру трубки с незнакомых номеров. Спасибо!</p>
    </strong>
</div>
{% endblock %}