{% extends 'motorcycles/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'motorcycles/css/main_page_styles.css' %}">
<div class="moto_cards_container">
  {% for moto in motorcycles %}
  <div class="moto_card">
    <h2><a href="{% url 'motorcycle_detail' pk=moto.pk %}">{{ moto.model_name }}, {{ moto.date_of_issue }}</a> </h2>
    <p><strong>Тип:</strong> {{ moto.moto_type }}</p>
    <p><strong>Двигатель:</strong> {{ moto.engine }}</p>
    <p><strong>Коробка передач:</strong> {{ moto.transmission }}</p>
    <p><strong>В наличии:</strong> {% if moto.status %}Да{% else %}Нет{% endif %}</p>
    <p><strong>Комментарий продавца:</strong> {{ moto.seller_comment|linebreaks|truncatewords:30 }}</p>
    <h2><strong>Цена:</strong> {{ moto.price }}</h2>
    <img src="{{ moto.image.url }}" alt="I DON'T KNOW!" class="moto_images">
  </div>
{% endfor %}
</div>
{% endblock %}