{% extends 'motorcycles/base.html' %}
{% load static %}
{% block content %}
    <div class="moto-detail-container">
        <div class="moto-detail">
            <h2>{{ moto.model_name }}</h2>
            <p><strong>Владелец:</strong> {{ moto.creator }}</p>
            <p><strong>Тип:</strong> {{ moto.moto_type }}</p>
            <p><strong>Дата производства:</strong> {{ moto.date_of_issue }}</p>
            <p><strong>Двигатель:</strong> {{ moto.engine }}</p>
            <p><strong>Коробка передач:</strong> {{ moto.transmission }}</p>
            <p><strong>В наличии:</strong> {% if moto.status %}Да{% else %}Нет{% endif %}</p>
            <p><strong>Цена:</strong> {{ moto.price }}</p>
            <p><strong>Комментарий продавца:</strong> {{ moto.seller_comment|linebreaks}}</p>
            <img src="{{ moto.image.url }}" alt="I DON'T KNOW!" class="moto_images">
        </div>
    </div>

    {% if user.is_authenticated %}
        <form method="post" action="{% url 'motorcycles:motorcycle_detail' pk=moto.pk %}" class="add-to-cart-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить в корзину</button>
         </form>
    {% else %}
        <p class="not-authorized-message">{{ auth_message }}</p>
    {% endif %}
{% endblock %}