{% extends 'motorcycles/base.html' %}

{% block content %}
    <section>
        <h2>Салют, {{ user.first_name }}!</h2>
        <img class="moto-user-avatar" src="{{ user.avatar.url }}" alt="Avatar">
        <div class="moto-user-info">
            <p>Логин: {{ user.login }}</p>
            <p>Имя: {{ user.first_name }}</p>
            <p>Фамилия: {{ user.last_name }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Дата рождения: {{ user.date_of_birth }}</p>
            <p>Предпочитаемый вид мотоциклов: {{ user.preferences }}</p>
            <p>Номер телефона: {{ user.phone_number }}</p>
        </div>
    </section>
{% endblock %}
</html>