{% extends 'motorcycles/base.html' %}

{% block content %}
    <section>
        <h2>Салют, {{ user.first_name }}!</h2>
        <img class="moto-user-avatar" src="{{ user.avatar.url }}" alt="Avatar">
        <div class="moto-user-info">
            <p>Логин: {{ user.login }}</p>
            <p>Имя: {{ user.first_name }}</p>
            <p>Фамилия: {{ user.last_name }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Дата рождения: {{ user.date_of_birth }}</p>
            <p>Предпочитаемый вид мотоциклов: {{ user.preferences }}</p>
            <p>Номер телефона: {{ user.phone_number }}</p>
        </div>
        <a href="{% url 'moto_user:create_motorcycle' %}" class="create-motorcycle-link">Добавить мотоцикл</a>
    </section>

<section class="user-motorcycles">
    <h3>Ваши мотоциклы</h3>
    <ul class="motorcycle-list">
        {% for motorcycle in motorcycles %}
            <li class="motorcycle-item">
                <div class="motorcycle-info">
                    <a href="{% url 'motorcycles:motorcycle_detail' pk=motorcycle.pk %}">
                        <img src="{{ motorcycle.image.url }}" alt="Изображение мотоцикла" class="motorcycle-image">
                    </a>
                    <p class="model-name">
                        <a href="{% url 'motorcycles:motorcycle_detail' pk=motorcycle.pk %}" class="model-name">Название модели: {{ motorcycle.model_name }}</a>
                    </p>
                    <p class="date-of-issue">Год: {{ motorcycle.date_of_issue }}</p>
                    <p class="price">Цена: {{ motorcycle.price }}</p>
                </div>
                <div class="update-motorcycle">
                    <a href="{% url 'moto_user:update_motorcycle' pk=motorcycle.pk %}" class="btn-primary">Редактировать</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>



{% endblock %}