{% extends 'motorcycles/base.html' %}

{% block content %}
<div class="edit-motorcycle-form">
    <h2>Редактировать мотоцикл</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_model_name">Модель:</label>
            {{ form.model_name }}
        </div>
        <div class="form-group">
            <label for="id_moto_type">Тип мотоцикла:</label>
            {{ form.moto_type }}
        </div>
        <div class="form-group">
            <label for="id_date_of_issue">Дата выпуска:</label>
            {{ form.date_of_issue }}
        </div>
        <div class="form-group">
            <label for="id_engine">Двигатель:</label>
            {{ form.engine }}
        </div>
        <div class="form-group">
            <label for="id_transmission">Трансмиссия:</label>
            {{ form.transmission }}
        </div>
        <div class="form-group">
            <label for="id_status">Статус:</label>
            {{ form.status }}
        </div>
        <div class="form-group">
            <label for="id_price">Цена:</label>
            {{ form.price }}
        </div>
        <div class="form-group">
            <label for="id_seller_comment">Комментарий продавца:</label>
            {{ form.seller_comment }}
        </div>
        <div class="edit-image-input">
            <label for="id_image">Изображение:</label>
            {% if form.instance.image %}
                <img src="{{ form.instance.image.url }}" alt="Изображение" class="edit-motorcycle-image">
                <br>
            {% endif %}
            {{ form.image }}
        </div>
        <button type="submit" class="btn btn-primary">Сохранить мотоцикл</button>
    </form>
</div>
{% endblock %}